{% extends 'base.html' %}

{% block content %}

<h4 style="text-align: center;">Download page</h4>

<!-- Loop One off rides from db -->
<br>
<div class="one-off-rides">
  <ul class="list-group">
  <p style="text-align: center;">One-Off Rides</p>
  {% for ride in one_off %}

  <li class="list-group-item vertical-align" style="margin: 5px;"><span>Author: </span>{{ride.author}}
  |    <span>Patient: {{ride.patient_first_name}} {{ride.patient_last_name}} </span>   |   Created: {{ride.time_stamp}}
 <span class="pull-right gray"><a class="btn btn-primary btn-xs" href="{% url 'rides:one_off_dr' pk=ride.pk %}">Dashride</a>  <span style="margin-right: 5px;">  </span> <a class="btn btn-primary btn-xs" href="{% url 'rides:one_off_dr' pk=ride.pk  %}">Office Ally</a> </span>


  {% endfor %}
    </ul>


</div>


<!-- Loope reocurring rides from db -->

<div class="reocurring-rides">
  <ul class="list-group">
  <p style="text-align: center;">Reocurring Bookings</p>
  {% for ride in reocurring %}

  <li class="list-group-item vertical-align" style="margin: 5px;"><span>Author: </span>{{ride.author}}
  |    <span>Patient: {{ride.patient_first_name}} {{ride.patient_last_name}} </span>   |   Created: {{ride.time_stamp}}
 <span class="pull-right gray"><a class="btn btn-primary btn-xs" href="{% url 'rides:reocurring_dr' pk=ride.pk %}">Dashride</a>  <span style="margin-right: 5px;">  </span> <a class="btn btn-primary btn-xs" href="{% url 'rides:reocurring_dr' pk=ride.pk  %}">Office Ally</a> </span>


  {% endfor %}
    </ul>


</div>


{% endblock %}



text-align: right;
