{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages" id="messages" style="margin: 0 auto; text-align: center; color: red;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



<div class="basic-data">
    <h4 class="booking-title"> JustGo Reocurring Booking Agent</h4>

    <form class="site-form" action="{% url 'rides:multi' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input id= "final-submission" class="create-booking btn btn-success" type="submit" name="" value="Create Multi Booking">
    </form>
</div>


<script type="text/javascript">

// Datefields
$( function() {
     var dateFields = "#id_start_date,#id_end_date";
     $(dateFields).datepicker({ dateFormat: 'yy-mm-dd'});

// Timefields
   var timeFields = "#id_pickup_time,#id_return_time";
   $(timeFields).timepicker({
       timeFormat: 'HH:mm',
       interval:15,
       });
     });

</script>

<!-- Inline Checkboxes -->
<script type="text/javascript">
  $(function() {
    var checkBoxes = $("ul li");
    $(checkBoxes).css("display","inline");
    $(checkBoxes).css("margin","0px 5px 0px 5px");
    console.log(checkBoxes);
  });
</script>

<!-- Confirm before submit -->
<script type="text/javascript">
  $(function () {
    $('#final-submission').click(function () {
      return confirm('Are you sure you want to submit the form?');
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    $('#messages').fadeOut(3000);
  });
</script>







{% endblock %}
