{% extends 'base.html' %}

{% block content %}

<div class="basic-data">
    <h4 class="booking-title"> JustGo Reocurring Booking Agent</h4>
    <form class="site-form" action="{% url 'rides:multi' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input id= "final-submission" class="create-booking btn btn-success" type="submit" name="" value="Create Multi Booking">
    </form>
</div>

<script type="text/javascript">

// Datefields
$( function() {
     var dateFields = "#id_start_date,#id_end_date";
     $(dateFields).datepicker({ dateFormat: 'yy-mm-dd'});

// Timefields
   var timeFields = "#id_pickup_time_one,#id_return_time_one,#id_pickup_time_two,#id_return_time_two";
   $(timeFields).timepicker({
       timeFormat: 'HH:mm',
       interval:15,
       });
     });

</script>

<script type="text/javascript">
  $(function() {
    var checkBoxes = "#id_weekdays";
    checkBoxes.hide();
    checkboxes.fade(5000);
  });
</script>



<!-- Confirm before submit -->
<script type="text/javascript">
  $(function () {
    $('#final-submission').click(function () {
      return confirm('Are you sure you want to submit the form?');
    });
  });
</script>







{% endblock %}
